.home-container {
  padding: 30px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 85vh;
  background-size: cover;
}
.home-head {
  font-family: 'Roboto';
  color: #fff;
  font-size: 50px;
}
.home-para {
  font-family: 'Roboto';
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}
.home-btn {
  background-color: #4f46e5;
  color: #fff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 7px;
  cursor: pointer;
}
