.job-container {
  display: flex;
  padding: 30px;
  background-color: #121212;
}
.job-list-container {
  width: 70%;
}
.profile-loader {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.job-loader {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.job-list-input-container {
  border: 1px solid #b6c5ff;
  border-radius: 6px;
  width: 39%;
  height: 33px;
  display: flex;
  align-items: center;
}
.search {
  height: 31px;
  border: 0px;
  width: 90%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #121212;
  margin: 0px;
  outline: none;
  color: #fff;
  padding-left: 15px;
}
.search-icon-btn {
  height: 31px;
  border: 0px;
  width: 10%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #202020;
  margin: 0px;
  outline: none;
}
.search-icon {
  color: #fff;
}
.overflow {
  overflow-y: auto;
  height: 90vh;
}
@media (max-width: 767px) {
  .job-list-input-container {
    width: 49%;
  }
  .search-icon-btn {
    width: 20%;
  }
  .search {
    width: 80%;
  }
}
